<% include partials/header.ejs %>
<body>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h2>Reviews</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p> <%= reviewAVG %> Stars<p>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h2>Leave a Review</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <fieldset id="starRate" class="starRating">
            1<input class="star star-1" type="radio" id="star1" name="rating" value="1"/>
            <label  class="star star-1" for="star1"></label>

            2<input class="star star-2" type="radio"  id="star2" name="rating" value="2"/>
            <label  class="star star-2" for="star2"></label>

            3<input class="star star-3" type="radio" id="star3" name="rating" value="3"/>
            <label  class="star star-3" for="star3"></label>

            4<input class="star star-4"  type="radio" id="star4" name="rating" value="4"/>
            <label class="star star-4" for="star4"></label>

            5<input class="star star-5" type="radio" id="star5" name="rating" value="5"/>
            <label class="star star-5" for="star5"></label>

          </fieldset>
      </div>
    </div>
  </section>
</html>
