<% include partials/header.ejs %>
<body>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h2>Reviews</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p id="rating"><p>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h2>Leave a Review</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <fieldset id="starRate" class="starRating">
            <input type="radio" id="star5" name="rating" value="1"/>

            <input type="radio" id="star4" name="rating" value="2"/>

            <input type="radio" id="star3" name="rating" value="3"/>

            <input type="radio" id="star2" name="rating" value="4"/>

            <input type="radio" id="star1" name="rating" value="5"/>

          </fieldset>
      </div>
    </div>
  </section>
</html>
