fieldset{
  float: left;
}

/*hide radio buttons*/
input.star{
  display: none;
}

/*set size of stars*/
label.star{
  padding: 2px;
  font-size: 20px;
  float: right;
}

/*replace radio buttons with stars*/
label.star:before{
  content: '\f006';
  font-family: FontAwesome;
}

/*when checked. highlight all stars gold*/
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all 0s;
}

/*when hover, highlight all stars up to the star that is being hovered*/
input.star:hover ~ label.star:before{
  color: #FD4;
  content: '\f005';
}

i.fa-star{
  color: #FD4;
  padding: 2px;
  font-size: 20px;
}
